@CHARSET "ISO-8859-1";
body{
	background-color:SandyBrown;
}

menuAside {
	float: left;
	margin-left: 1%;
	
	width: 15%;

}
#menuAside, #article{
	display:inline-block;
	margin-top:2%;
	
	
}
#retourAside{
	margin-top: 1%;
	height:12%;
	background-color:White;
}

article {
	margin-right: 3%;
	width: 80%;
	margin-top:2%;
	float: right;
	border: 1px solid OldLace;
	padding: 1px 1px 1px 6px;
	background-color:white;
	
}

a:link {
	text-decoration:none;
	color: Maroon;
}




h1 {
	position: absolute;
	top:0;
	left:20%;
	text-align: Center;
	font-family: Comic Sans MS;
}
h2{
	text-align: Center;
}


li {
	list-style-type:decimal;
	font-family: Comic Sans MS;
	margin-left: 6%;
	margin-bottom: 3%;
	text-decoration: underline;
	font-weight: bold;
	color: blue;
}

a:hover {
	color: blue;
	text-decoration:none;
}
#home{
	margin-left: 1%;
}

#p {
	
	padding: 10px 10px 10px 10px;
	margin-left: 5%;
	width: 90%;
	background-color: white;

}

#maindiv{
    margin:auto;
    font-size: 20px;
    font-family: Comic Sans MS;
    margin: 0 10% 0 10%;
}
 
#divg{
	height: 400px;
	width: 45%;
    float:left;
    border: 1px solid black;
    margin: 0 0 50px 0;
    padding: 20px 0 0 20px;
}
 
#divd{
	height: 400px;
	width: 45%;
	float: right;
	border: 1px solid black;
	text-align:center;
	padding: 20px 0 0 0;
}


#div3 {
	font-family: Comic Sans MS;
	font-weight: bold;
}
#divPoste{
	margin-top:20%;
	margin-left:5%;
}
#supp{
	background-color:Olive;
	text-align: center;
}


#logo {
	position:abslute;
	top: 1%;
	width: 10%;
	height: 70px;
} 

#saisi {
	width: 94%;
	height: 30px;
}


#textareaEdit{
	margin-left: 3%;
	width: 94%;
	margin-top:3%;
	height:400px;
	background-color:white;
}

#Contenu_Visiteur {
	background-color: DarkGray;
	padding: 1px 1px 1px 5px;
	width: 80%
}#menuTab{
	background-color:Gainsboro;
}
#menuPr{
	margin-top: 30%;
	background-color:Gainsboro;
}

#indexArticle{
	background-color: Plum;
	padding: 1px 1px 1px 5px;
	width: 94%;
}


#commenter {
	margin-left: 80%;
}

#Poster_comm {
	margin-top: 2%;
	margin-left: 5%;
}

#Ret {
	margin-top: 2%;
	margin-left: 2%;
	width: 80px;
}

#Supp_art {
	margin-top: 2%;
	margin-left: 80%;
}

header {
	margin-left:35%;
}
#articleHref{
	font-size: 30px;
	font-weight: bold;
	text-decoration:underline;
}
#form {
	border: 1px solid black;
	width:40%;
	margin-top:2%;
	margin-left:30%;
	font-family: Comic Sans MS;
	padding: 1px 1px 1px 3px;
}
#tdAr{
	width:100%;
}
#recherch{
	position:absolute;
	top:3%;
	right:15%;
}

#admin{
	position:absolute;
	top:14%;
	left:3%;
	background-color:orange;
}
